@import '../colors/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;600&display=swap');
@import '@fortawesome/fontawesome-free/css/all.css';

footer{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient($secondaryColor, $primaryColor);
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.footerUp{
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}

.leftSide{
    display: grid;
    justify-content: center;
    
    a{
        display: grid;
        align-items: end;
        img{
            width: 150px;
        }
        
    }
}

.socialMedia{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    
    a{
        i{
            color: $textColor;
            font-size: 30px;
        }
        i:hover{
            color: rgb(247, 187, 76);
        }
    }
}

.contact{
    color: $textColor;
    display: inline-block;
    line-height: 1em;
}
.direction{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    
    i{
        grid-column: 1;
    }
    p{
        grid-column: 2;
    }
}

.mail{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    
    i{
        grid-column: 1;
    }
    p{
        grid-column: 2;
    }
}

.phone{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    
    i{
        grid-column: 1;
    }
    p{
        grid-column: 2;
    }
}

.links{
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
    color: $textColor;
    line-height: 0.7;
    i{
        grid-column: 1;
    }
    p{
        grid-column: 2;
    }
    
    a{
        text-decoration: none;
        list-style: none;
        p{
            color: $textColor
        }
        p:hover{
            color:  rgb(247, 187, 76);
        }
    }
}

.footerDown{
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    background-color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $textColor;
    }
}
